nav {
    background: #ae40ae;
    color: white;
    top: 0;
    left: 0;
    box-sizing: border-box;
    height: 5rem;
    padding: 0 0.5rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    position: fixed;
    width: 100%;
  
    ul {
      list-style: none;
      padding: 0;
      display: flex;
      justify-content: space-between;
      a {
        color: white;
      }
    }
  }