.total {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 10rem;
    background: #aa34ae;
  }
  
  .contain {
    display: flex;
    flex-wrap: wrap;
  
    .stock {
      flex: 1 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: right;
      line-height: 1.6rem;  
      border: 1px solid #ae34a4;
      padding: 0.5rem;
  
      a {
        color: white;
      }
    }
  
    .even {
      background: #972888;
    }
  
    .odd {
      background: #a32b99;
    }
  }